.search {
  padding-top: 6px;
  margin-bottom: 32px;
}

/*Поле Form*/
/*Плейсхолдер для select упорно не хочет отзываться, поэтому всем опциям назначаем серый цвет, а всем не первым опциям назначаем черный*/

.search-form {
  height: 67px;
  border-bottom: 1px solid #000000;
  margin-bottom: 16px;
}

.search-form__select {
  width: 100%;
  height: 29px;
  border: 0;
  outline: none;
  background-color: #ffffff; /*Нужно для мобильных браузеров*/
  appearance: none;
  background-repeat: no-repeat;
  background-position: 100% 50% ;
  background-image: url(../img/Select_Arrow.svg);
}

.search-form__select:hover {
  cursor: pointer;
}

.search-form__select:invalid {
  color: #a3a6a9;
}

.search-form__select:focus {
  border: 0;
}

.search-form__option {
  line-height: 160%;
  color: #000000;
  border: 0;
  height: 29px;
}

/*Поле Posiotion*/

.search-position {
  height: 67px;
  border-bottom: 1px solid #000000;
  margin-bottom: 19px;
}

.text::placeholder {
  color: #a3a6a9;
}

.search-position__text {
  line-height: 160%;
  height: 29px;
  width: 100%;
}

/*Кнопка*/
.search-btn-wrapper {
  white-space: nowrap;
  align-items: center;
  width: 123px;
}

.search-btn {
  display: inline-block;
  color: #000000;
  font-family: "Formular", sans-serif;
  line-height: 160%;
  padding-right: 12px;
  cursor: initial;
}

.search-btn-wrapper:hover {
  border-bottom: 1px solid #000000;
  margin-bottom: -1px;
}
.search-btn__cross {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  top: 25%;
  right: 0;
  background-image: url("../img/Cross.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

.search-btn-wrapper:hover,
.search-btn__cross:hover {
  cursor: pointer;
}

/*Выключенная кнопка*/
.search-btn-wrapper__disabled:hover {
  border-bottom: 0;
  margin-bottom: 0;
}

.search-btn-wrapper__disabled:hover,
.search-btn-wrapper__disabled > .search-btn:hover,
.search-btn-wrapper__disabled > .search-btn__cross:hover {
  cursor: initial;
}

.search-btn-wrapper__disabled .search-btn {
  color: #a3a6a9;
}

.search-btn-wrapper__disabled .search-btn__cross {
  background-image: url("../img/Cross-disabled.svg");
}

@media (min-width: 1024px) {
  .search {
    padding-bottom: 7px;
  }

  .form {
    display: flex;
    align-items: flex-end;
  }

  .search-form {
    width: 466px;
    margin-bottom: 0;
    margin-right: 19px;
  }

  .search-position {
    width: 466px;
    margin-bottom: 0;
    margin-right: 19px;
  }

  .search-btn-wrapper {
    margin-left: auto;
    align-items: flex-end;
  }

  .search-btn {
    margin-bottom: 11px;
  }

  .description {
    max-width: 689px;
  }
}
