.container {
  max-width: 1196px;
  padding: 81px 24px 94px 24px;
  margin: 0 auto;
}

.header-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;

  margin-bottom: 32px;
}

.label {
  display: block;
  height: 29px;
  padding: 0;
  margin: 0;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 160%;
}

.text {
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
}

.btn {
  border: 0;
  padding: 0;
  outline: 0;
  background-color: #FFFFFF;
}

.btn:hover {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .container {
    padding: 81px 30px 164px 30px;
  }

  .header {
    margin-bottom: 74px;
  }
}
