.container {
  max-width: 1196px;
  padding: 81px 24px 94px 24px;
  margin: 0 auto;
}

.header {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #000000;

  margin-bottom: 32px;
}

.label {
  display: block;
  height: 29px;
  padding: 0;
  margin: 0;
  font-family: Rubik;
  font-size: 16px;
  line-height: 160%;
}

.btn {
  border: 0;
  padding: 0;
  outline: 0;
  background-color: #FFFFFF;
}

@media (min-width: 721px) {
  .container {
    padding: 81px 0px 164px 0px;
  }
  .header {
    margin-bottom: 74px;
  }
}
